


/* Inicio Header*/

a,
p{
    font-family: $font-a;
}

.contenedor-header{
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    top:0;
    width: 100%;

    header{
    display: flex;
    align-items: center;
    flex-direction: column;
    }

    .icon{
    background-color: $seccionscolor;
    display: none;
    justify-content: space-between;
    
    i:hover{
        cursor: pointer;
        transition: .6s;
        color: red;
    }
}

    .icon2 i{
        color: #fff;
        padding: 6px;
        margin-left: 10px;
        font-size: 12px;
    }
    
    a p{
        color: #fff;
        font-size: 12px;
        padding: 5px;
    }

    
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px;

        img{
            height: 60px;
            width: 90px;
            
        }
    }

    /*Buscador*/

    .buscar{
        display: flex;
        width: 100%;
        background-color: rgb(241, 243, 243);
        margin-bottom: 40px;
        margin-top: 30px;
        border-radius: 40px;
        padding: 0px 8px;
        border: #474747 solid 1px;
        
    }

    .buscar_texto{
        width: 100%;
        border: none;
        background: none;
        outline: none;
        color: rgb(134, 133, 133);
        font-size: 16px;
        float: left;
        line-height: 40px;
        margin: 4px 30px ;
    }

    .boton{
        text-decoration: none;
        float: right;
        padding: 6px;
        font-size: 1.6em;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

/* Navegador */

.hamburguesa{
    display: inline-block;
    cursor:pointer;
}

    span{
        display: block;
        left: 100%;
        height: 2px;
        width: 25px;
        margin-bottom: 5px;
        background: #333;
    }

    
nav{
    display:none;
    
    ul{
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 22px;
    }

        a{
            color: $color-a;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            transition: .7s;
            width: 100%;

            &:hover{
                color:rgb(228, 43, 43)
            }
        }
    
}


/* Version escritorio*/ 

@media only screen and (min-width:800px){
    .contenedor-header {
        .contenedor-logo {
            display: flex;

            .logo{
                margin: 0px 40px 0px 0px;
            }
        }

        .icon{
            display: flex;
            width: 100%;
        } 

        .buscar{
            width: 600px;
        }

        .hamburguesa {
            display: none;
        }

        .nav{
            display: flex;

            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            a {
                font-weight: bold;
                font-size: 1rem;
                padding: 8px;
                margin: 6px 6px;
                cursor: pointer;
            }
        }
    }

}


