
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

@import '_vars';

@import '_header';

@import '_index';

@import '_footer';

@import '_pages';

@import'_seccion2';

@import'_articulos';



*{ 
    box-sizing: border-box; 
    padding: 0px;
    margin:0px;
    font-family: $general;
}

body{
    height: 100vh;
    width: 100%;
    scroll-behavior:smooth;
    background-color: $colorgeneral;

    ul{ 
        list-style: none;
    }
    
    a{
        text-decoration: none;
    }
}
